@use '../../../styles/all';


.clock {
  position: relative;
  padding: all.$spaceMedium;

  &:hover {
    .clock-controls {
      opacity: 1;
    }
  }

  &.start, &.stop, &.reset {
    &:hover {
      .clock-controls {
        opacity: 0;
      }
    }

    .animate-effect {
      display: flex;
    }
  }

  &.stop { .animate-effect { color: all.$red; } }
  &.start { .animate-effect { color: all.$green; } }
  &.reset { .animate-effect { color: all.$copyColor; } }

  .disabled {
    opacity: 0.3;
  }

  .milliseconds {
    font-size: 0.5em;
  }

  .clock-controls {
    @include all.overlay-fill();
    padding: all.$spaceMedium;
    display: flex;
    font-size: all.$fontSize4;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > span {
      flex-shrink: 0;
      border-radius: all.$borderRadiusSmall;
      border: 1px solid all.$lightGrey;
      text-align: center;
      background-color: all.$white;
      opacity: 1;

      .icon-container {
        display: inline-block;
        padding: all.$spaceSmall;
      }
    }

    .playback-controls {
      .icon-container {
        font-size: 2em;
        padding: all.$spaceMedium;
      }
    }

    .edit-clock {
      @include all.overlay-fill(all.$white);
      opacity: 1;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.open {
        display: block;
      }

      .time-input {
        padding: all.$spaceMedium;
        height: 100%;
      }
    }
  }

  .animate-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: all.$fontSize1;

    .icon-container {
      animation: grow 0.3s linear forwards;
    }
  }
}

@keyframes grow {
  from {
    opacity: 1;
    transform: scale(0.5);
  } to {
    opacity: 0;
    transform: scale(2);
  }
}
