/* primary */

$black: #2d2d2a;
$nearBlack: #4b4b45;
$darkGrey: #7f7f7a;
$grey: #a6a6a1;
$lightGrey: #d4d4d4;
$offWhite: #f3f2ef;
$white: #ffffff;

$shadowExtraSoft: rgba($black, 0.10);
$shadowSoft: rgba($black, 0.25);
$shadow: rgba($black, 0.50);
$shadowHard: rgba($black, 0.80);

$sunbeamExtraSoft: rgba($white, 0.10);
$sunbeamSoft: rgba($white, 0.25);
$sunbeam: rgba($white, 0.50);
$sunbeamHard: rgba($white, 0.80);


$primaryColor: #d5c9ad;
$primaryColorDark: #b0a694;
$secondaryColor: #62805c;
$secondaryColorDark: #556b50;
$copyColor: $black;
$copyColorSoft: $shadowHard;
$copyColorExtraSoft: $shadow;

$ctaColor: #43aae1;
$ctaColorDark: #358cbb;

$ctaColorSecondary: #e1a243;
$ctaColorSecondaryDark: #bb8635;
