$fontFamilyRegular: 'regular';

@font-face {
  font-family: $fontFamilyRegular;
  src: url('/public/fonts/dogicapixelbold.ttf');
}

$fontSize1: 2.5rem;
$fontSize2: 1.8rem;
$fontSize3: 1.2rem;
$fontSize4: 1rem;
$fontSize5: 0.8rem;
