@use "../styles/all";

.premove-game-daily {
  height: 100%;
  width: 100%;
  max-width: all.$screenLargeMax;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .board-container {
    width: 100%;
    padding: all.$spaceLarge;
    max-width: 85vh;
  }

  .hud-container {
    padding: all.$spaceLarge;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include all.medium-and-below() {
    flex-direction: column;

    .board-container {
      padding: all.$spaceExtraSmall;
      padding-right: all.$spaceSmall;
    }

    .hud-container {
      width: 100%;
      height: auto;
      padding: all.$spaceMedium;
      margin-bottom: all.$spaceMedium;
    }
  }
}
