@use "../../styles/all";

.daily-hud {
  width: 100%;
  height: 100%;

  .title-container {
    margin-bottom: all.$spaceLarge;
    @include all.medium-and-below{
      margin-bottom: all.$spaceMedium;
    }

    h1 {
      color: all.$darkGrey;
      font-size: all.$fontSize1;
      text-shadow: 2px 2px 0 all.$nearBlack;

      @include all.medium-and-below{
        font-size: all.$fontSize2;
      }
    }

    h2 {
      margin-top: all.$spaceSmall;
      margin-left: 4px;
      color: all.$grey;

    }
  }

  .difficulty-container {
    width: 100%;

    @include all.medium-and-below {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button-container {
      margin-bottom: all.$spaceMedium;
      button {
        span {
          &:last-child {
            margin-left: all.$spaceSmall;
          }
        }
      }
    }
  }

  .button-container {
    height: all.$spaceExtraExtraLarge;

    button {
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include all.small-and-below {
        font-size: all.$fontSize4;
      }
    }

    @include all.medium-and-below {
      height: all.$spaceExtraLarge;
      margin-bottom: 0;
    }

    @include all.small-and-below {
      height: all.$spaceLarge;
    }
  }

  .results-container {
    margin-top: all.$spaceExtraExtraLarge;

    .icon-container {
      margin-right: all.$spaceMedium;
    }

    .button-container {
      margin-top: all.$spaceMedium;
    }

    @include all.medium-and-below {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;

      .button-container {
        margin-top: 0;
        display: inline-block;
      }
    }
  }
}
