@use '../../styles/all';

.premove-level {


  .premove-controls {
    margin-top: all.$spaceLarge;
    width: 100%;

    @include all.small-and-below() {
      margin-top: all.$spaceMedium;
    }
  }
}
