@use "../../styles/all";

.series-hud {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: all.$darkGrey;
    margin-bottom: all.$spaceExtraExtraLarge;
    font-size: all.$fontSize1;
    text-shadow: 2px 2px 0 all.$nearBlack;

    @include all.medium-and-below{
      font-size: all.$fontSize2;
      margin-bottom: all.$spaceMedium;
    }

    span {
      position: relative;
      margin-left: all.$spaceSmall;
      .icon-container:first-child {
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 2;
      }

      .icon-container:last-child {
        color: all.$nearBlack;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

  }

  h2 {
    color: all.$black;
    margin-bottom: all.$spaceLarge;
    font-size: all.$fontSize4;
    line-height: 1.5em;

    span {
      display: inline-block;
      padding-bottom: 0.2em;
      padding-left: all.$spaceSmall;
      color: all.$white;
      font-size: 3rem;
      text-shadow: 2px 2px 0 all.$grey, 0 0 30px all.$shadowSoft;
      vertical-align: middle;

      @include all.medium-and-below {
        font-size: all.$fontSize3;
      }

      @include all.small-and-below{
        font-size: all.$fontSize2;
      }
    }

    @include all.medium-and-below {
      margin-bottom: all.$spaceMedium;
    }

    &.seed-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon-container {
        color: all.$ctaColor;
        font-size: all.$fontSize2;
      }
    }
  }

  .string-input {
    font-size: all.$fontSize5;
    margin-left: all.$spaceSmall;

    input {
      border: 2px solid all.$grey;
      border-left: 0;
      border-top: 0;
    }
  }


  .spacer {
    display: flex;
    flex: 1;
    align-items: center;
  }
}
