@use "../../styles/all";

.share-results-container {
  padding: all.$spaceMedium;

  h2 {
    letter-spacing: 0.05em;
    font-family: all.$fontFamilyBody;
    text-transform: none;
    margin-bottom: all.$spaceSmall;
  }
  h1 {
    font-size: all.$fontSize2;

    @include all.small-and-below{
      font-size: all.$fontSize3;
    }
  }

  h3 {
    margin-bottom: all.$spaceMedium;
  }

  .share-results-content {
    margin: all.$spaceLarge 0;
    border-top: 1px solid all.$lightGrey;
    border-bottom: 1px solid all.$lightGrey;
    padding: all.$spaceLarge 0;

    .result {
      display: flex;
      margin-bottom: all.$spaceMedium;
      align-items: center;
      justify-content: flex-start;
      font-family: all.$fontFamilyBody;
      text-transform: none;

      $dimension: 30px;
      &:before {
        content: "😭";
        text-align: center;
        line-height: $dimension;
        display: block;
        width: $dimension;
        height: $dimension;
        border-radius: 4px;
        margin-right: all.$spaceMedium;
        background-color: #c00000;
      }

      &.solved:before {
        content: "👑";
        background-color: #00c500;
      }

      strong {
        margin: 0 all.$spaceSmall;
        font-family: all.$fontFamilyRegular;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .share-button-container {
    margin-top: all.$spaceLarge;
    display: flex;
    justify-content: center;

    .button-container {
      @include all.shadow();
      width: 260px;
    }

    button {
      padding: all.$spaceMedium all.$spaceLarge;
      .icon-container {
        margin-right: all.$spaceSmall;
      }

      white-space: nowrap;
    }
  }
}
