@use "../../styles/all";

.chess-piece-tool-tip {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-piece {
  height: 80%;
  width: 80%;

  @include all.piece('.chess-piece-inner');

  &.black {
    background-color: all.$black;

    .chess-piece-inner {
      background-color: all.$nearBlack;
      color: all.$white;
    }
  }
}
