@use "../../styles/all";

.chess-piece-tool-tip {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2em;
}

.chess-piece {
  height: 80%;
  width: 80%;

  @include all.piece('.chess-piece-inner');

  .icon-container, .move-count {
    font-size: all.$fontSize1;

    @include all.small-and-below {
      font-size: all.$fontSize2;
    }
  }

  &.black {
    background-color: all.$black;

    .chess-piece-inner {
      background-color: all.$nearBlack;
      color: all.$white;
    }
  }
}
