@use "../../styles/all";

$squareDepth: 10px;
$halfSquareDepth: $squareDepth / 2;

.chess-board {
  box-shadow: $squareDepth $squareDepth 30px 0 all.$shadowSoft;
  position: relative;

  .chess-board-click-listener, .chess-board-pieces-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .chess-board-click-listener {
    z-index: 100;
  }

  .chess-board-piece-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: top all.$transition, left all.$transition;
  }

  .chess-board-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .chess-board-square {
    width: 100%;
    position: relative;
    background-color: all.$primaryColor;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
    }

    .chess-board-square-depth {
      background-color: all.$primaryColorDark;
      @include all.depth-box($squareDepth);
    }


    &.black {
      background-color: all.$secondaryColor;

      .chess-board-square-depth {
        background-color: all.$secondaryColorDark;
      }
    }

    &.bounce {
      animation: pop-up 0.5s ease-in-out, shadow-fade 0.5s ease-in-out;
    }
  }
}


@keyframes pop-up {
  from {
    transform: translate(-10%, -10%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes shadow-fade {
  from {
    box-shadow: 0 0 $squareDepth 0 all.$shadowSoft, $squareDepth $squareDepth $halfSquareDepth $halfSquareDepth all.$shadowSoft;
  }
  to {
    box-shadow: 0 0 0 0 transparent, $squareDepth $squareDepth 2px -2px transparent;
  }
}
