@use "../../styles/all";

$squareDepth: 10px;

.chess-board {
  box-shadow: $squareDepth $squareDepth 30px 0 all.$shadowSoft;
  position: relative;

  .chess-board-click-listener, .chess-board-pieces-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .chess-board-click-listener {
    z-index: 100;
  }

  .chess-board-piece-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: top all.$transition, left all.$transition;
  }

  .chess-board-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .chess-board-square {
    width: 100%;
    position: relative;
    background-color: all.$primaryColor;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
    }

    .chess-board-square-depth {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
      top: $squareDepth;
      left: $squareDepth;
      background-color: all.$primaryColorDark;

      &:after, &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: inherit;
      }

      &:after {
        height: $squareDepth;
        width: $squareDepth;
        right: $squareDepth / 2;
        top: -$squareDepth;
        transform: skewX(45deg);
        transition: box-shadow all.$transition;
      }

      &:before {
        height: $squareDepth;
        width: $squareDepth;
        left: -$squareDepth / 2;
        bottom: 0;
        transform: skewX(45deg);
      }
    }


    &.black {
      background-color: all.$secondaryColor;

      .chess-board-square-depth {
        background-color: all.$secondaryColorDark;
      }
    }

    &.bounce {
      animation: pop-up 0.5s ease-in-out, shadow-fade 0.5s ease-in-out;
    }
  }
}


@keyframes pop-up {
  from {
    transform: translate(-10%, -10%);
  }
  to {
    transform: translate(0, 0);
  }
}

$halfSquareDepth: $squareDepth / 2;
@keyframes shadow-fade {
  from {
    box-shadow: $halfSquareDepth * 1.5 $halfSquareDepth * 1.5 $squareDepth $halfSquareDepth all.$shadow;
  }
  to {
    box-shadow: $squareDepth $squareDepth 2px -2px all.$shadow;
  }
}
