@use "../../styles/all";

.knight {
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 8px;
  background-color: all.$lightGrey;
  @include all.shadow(3px, all.$shadowSoft);

  .icon-container {
    height: 70%;
    width: 70%;
    margin: 2px;
    display: flex;
    border-radius: 4px;
    background-color: all.$offWhite;
    align-items: center;
    justify-content: center;

    color: all.$black;
    font-size: all.$fontSize3;
  }
}
