@use "../../styles/all";

$shiftAmount: 3px;

.button-container {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  cursor: pointer;

  button {
    cursor: pointer;
    font-size: all.$fontSize4;
    border: none;
    padding: all.$spaceSmall all.$spaceMedium;
  }

  @include all.medium-and-up {
    &:hover {
      transform: translate($shiftAmount, $shiftAmount);
    }
  }

  &,button {
    transition: all all.$transition;
  }

  @include all.piece('button', all.$ctaColor, all.$ctaColorDark, all.$white);

  &.secondary {
    background-color: all.$ctaColorSecondaryDark;

    button {
      background-color: all.$ctaColorSecondary;
    }
  }

  &.tertiary {
    background-color: all.$ctaColorTertiaryDark;

    button {
      background-color: all.$ctaColorTertiary;
    }
  }

  &.disabled {
    background-color: all.$darkGrey;
    cursor: not-allowed;
    button {
      cursor: not-allowed;
      background-color: all.$grey;
      color: all.$nearBlack;
    }

    &:hover {
      transform: none !important;
    }
  }
}
